[2022-02-15 05:51] Ragnyll commented on #237
@romoh I have a branch that i was fiddling with this on and removed some dependencies that should have been dev scoped ([branch](https://github.com/Ragnyll/akri/pull/4/files)) via [cargo-udeps](https://github.com/est31/cargo-udeps) that may on its own be useful, but in doing this exercise I've thought of a few questons...

Assuming that when you say "unify the version of crates being used by packa

[2022-02-18 15:58] OsamaEnergia opened #446 "agent pods keep failing and throw thread 'tokio-runtime-worker' panicked at 'called `Result::unwrap()`"
Hi,
I got the following error in akri agent pods, if you could please help with it.

**Describe the bug**
- most of the agent pods keep restarting, logs as below
- this leads to a problem with some of the broker pods cannot be terminated using the discovery handler as it will connect to a new agent on this node
- I enabled RUST_BACKTRACE=full in agent daemonset  to get below logs

**Kubernetes Ver

[2022-02-18 16:27] kate-goldenring commented on #446
Hi @OsamaEnergia, can you provide some more background on what type of cluster and nodes you are using? It looks like the Agent is losing its connection to the API server when watching `Configuration` resources. Also, as a side note, you should enable `crictl` (avoiding these errors `Command failed to call crictl`). We are in the middle of a release, so our documentation is a little off. So, if yo

[2022-02-18 22:56] jiria opened #447 "Pods generated for jobs contain two consecutive dashes"
**Describe the bug**
Pods generated on behalf of job broker type contain two consecutive dashes as if there was some token missing.

**Output of `kubectl get pods,akrii,akric -o wide`**
[code]

**Kubernetes Version: [e.g. Native Kubernetes 1.19, MicroK8s 1.19, Minikube 1.19, K3s]**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create cluster using on top of Ubuntu 20.04, using lates

[2022-02-18 22:58] jiria opened #448 "Consider using dedicated namespace for Akri by default"
**Is your feature request related to a problem? Please describe.**
Following the instructions, Akri by default is deployed into the default namespace. Consider using dedicated namespace for Akri by default.

**Describe the solution you'd like**
Instructions for helm install could contain the desired target namespace to be used.

[2022-02-18 23:06] jiria opened #449 "Clean up logging"
**Is your feature request related to a problem? Please describe.**
Controller logging is pretty verbose by default. Consider using less verbose details and exposing knobs to increase verbosity on demand.

For example `[2022-02-18T22:43:28Z TRACE controller::util::pod_watcher] handle_pod - enter [event: Applied(Pod { metadata: ObjectMeta {...`  is dumping a lot of data.

[2022-02-18 23:44] romoh commented on #446
Hi @OsamaEnergia,
AKS uses containerd and not dockerShim, so you need to update `AKRI_HELM_CRICTL_CONFIGURATION` before installing akri.

The following steps work on a 2 node AKS cluster using K8s 1.21.9:

[code]

what version of akri are you using? the steps may be slightly different if you are using an older version.

[2022-02-19 00:16] kate-goldenring opened #450 "Modify Agent to reduce frequency of Pods getting `UnexpectedAdmissionError`"
The Akri Agent creates device plugins for each device it discovers. The device plugin framework allows for specifying how many containers can use a device plugin at a time. The kubelet will then ensure that no Pod is scheduled to use that resource if all usage has been taken up.

If the kubelet believes that a resource/device plugin should be available but the device plugin/ Agent responds that it

[2022-02-21 00:01] #253 closed

[2022-02-22 10:02] OsamaEnergia commented on #446
@kate-goldenring  , @romoh  Thank you for your reply!

I'm using:
- AKS cluster with 8 nodes where Kubernetes version: 1.21.2 and Container runtime version: containerd://1.4.9+azure
- Deploying Akri release (using `helm upgrade --install --version 0.7.0 akri -f akri-values.yaml akri-helm-charts/akri`)
- akri-values.yaml used `agent:
  host:
    crictl: /usr/local/bin/crictl
    dockerShimSock: /ru

[2022-02-22 17:37] kate-goldenring commented on #448
Hi @jiria this issue may better live in Akri's documentation repository: https://github.com/project-akri/akri-docs. Can you open this there and then we can link to it from here and close this one out?

[2022-02-22 17:56] kate-goldenring commented on #447
## Reproduce
I was able to reproduce this by installing the same version of K3s (`v1.22.6+k3s1) which is their latest stable release. While Jobs (which are created by Akri) are named correctly, the Pods spun up by the Kubernetes [Job controller](https://kubernetes.io/docs/concepts/architecture/controller/) are not named as expected. It looks like the latest k3s is adding an extra `--1`
[code]

I t

[2022-02-22 18:02] kate-goldenring commented on #449
@jiria this builds off of this issue https://github.com/project-akri/akri/issues/221 . I think we can close this one and rename the original issue to encompass reducing/ making logging more configurable in all of Akri's Pods.

[2022-02-22 18:09] kate-goldenring commented on #446
@OsamaEnergia, not sure why the connection reset is happening. However to this comment :

If `crictl` is properly configured, then the broker Pods should not be orphaned. I believe that the Agent will be able to determine that broker Pods are running and update the Instances to reflect that. Have you found the brokers being orphaned when you are properly configuring crictl?

[2022-02-23 13:12] OsamaEnergia commented on #446
Thanks @kate-goldenring , you are right that with the right configuration of `crictl` the agent will handle broker pods.
the problem was in the discovery handler (I use custom discovery handler based on rust template), once the connection with agent dropped it was forgetting all discovered_devices_map, I had to use global static to move devices from one time to another.

still, the main issue of c

[2022-02-23 15:57] kate-goldenring commented on #446
@OsamaEnergia, good to know the agent is working as expected with regards to orphan pods.

It sounds like your discovery handler does not discover all devices in one `discover` call rather discovers a subset of devices that can be added to a stateful map it maintains. Making the map global or scoped outside of the `DiscoveryHandler` makes sense. Or maybe the disconnects with the Agent could be han

[2022-02-23 16:06] kate-goldenring commented on #446
@OsamaEnergia to provide more context, it looks like this is the [`WatchFailed`](https://docs.rs/kube/latest/kube/runtime/watcher/enum.Error.html) is the error that is being thrown by the `kube_rs::watcher` which is instantiated on [this line](https://github.com/project-akri/akri/blob/v0.7.0/agent/src/util/config_action.rs#L99). Do you mind trying Akri version 0.6.5? Thats before we started using

[2022-02-23 16:10] kate-goldenring commented on #446
this issue looks related: https://github.com/kube-rs/kube-rs/issues/567

[2022-02-23 22:31] kate-goldenring opened #453 "Update to latest Kubernetes client (`kube-rs`) and types (`k8s-openapi`) versions"
Akri should be updated to use the latest versions of the Kubernetes client ([`kube-rs`](https://github.com/kube-rs/kube-rs)) and types (`k8s-openapi`) crates. The `k8s-openapi` version is dependent on the `kube-rs` version as seen in the [`kube-rs` README](https://github.com/kube-rs/kube-rs).

[2022-02-24 21:28] kate-goldenring opened #455 "Switch to using `containerd` as default container runtime socket for standard Kubernetes"
**Current state**
Currently if a user specifies they are using standard Kuberntes (`--set kubernetesDistro=K8s`), then [Akri assumes](https://github.com/project-akri/akri/blob/main/deployment/helm/values.yaml#L104) the container runtime socket to be at `/var/run/dockershim.sock`. This should be changed to `/run/containerd/containerd.sock` as Docker as the underlying runtime in K8s [has been deprec

[2022-02-25 12:34] OsamaEnergia commented on #446
@kate-goldenring
about rbac, I disabled rbac and tried it with Akri 0.70 and 0.6.5 and the connection reset is still there.
"version-rs" is working fine and stable on the cluster.

please find 4 logs https://justpaste.it/3s9e6 (separated by --------------Akri) for:
- Akri Controller log (rbac.enabled=false, akri 0.7.0, full log file)
- Akri Agent log (rbac.enabled=false, akri 0.7.0, full log file)

[2022-02-28 19:23] kate-goldenring commented on #446
@OsamaEnergia thanks for the logs. I wonder we can get more context on this by asking about [this note](https://github.com/kube-rs/kube-rs/blob/master/kube-client/src/client/mod.rs#L321) in the `kube-rs` implementation. We are getting a `WatchError(ReadError...))` which only is thrown at that line of their implementation

[2022-03-01 18:05] romoh commented on #448
That would be a documentation fix to include ` --create-namespace --namespace akri` to our helm install commands.

[2022-03-01 19:13] kate-goldenring commented on #448
An example of how prometheus does this: https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack#redeploy-with-new-name-downtime
We'd need to add similar notes about presumed namespace usage

[2022-03-01 23:06] Ragnyll commented on #453
Ay, mind if I take this issue? Id like to take a crack at this as I'm familiarizing myself with the project more

[2022-03-02 00:32] kate-goldenring commented on #453
Hey @Ragnyll that would be great! I just assigned you to it. Let me know if you run into any issues.

[2022-03-07 04:27] Ragnyll commented on #453
Opened https://github.com/project-akri/akri/pull/458#issue-1160890021

[2022-03-08 15:23] jeefy opened #459 "Add a security policy (SECURITY.md) to repo"
Akri should have a SECURITY.md file that states the policy for filing security-related issues. :angel:

See https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository for one way to do it.

Another Example: https://github.com/antrea-io/antrea/blob/main/SECURITY.md

Context (Slack Thread): https://kubernetes.slack.com/archives/C01D9L7QE8Z/p1646340638644299

[2022-03-14 17:44] edrickwong opened #460 "Add an adopters file (ADOPTERS.md)"
**Current state**
There is currently no adopters file in the repo.

**Describe the solution you'd like**
Create an adopters file in the repo

[2022-03-14 22:02] kate-goldenring commented on #460
This is a good addition. We need this as part of the CNCF's clomonitor criteria: https://clomonitor.io/projects/akri/akri

[2022-03-15 18:56] #453 closed

[2022-03-18 15:14] #460 closed

[2022-03-22 17:39] #459 closed

[2022-03-22 19:01] jeefy commented on #459
Thank you!!!

[2022-03-25 14:54] fawohlsc opened #464 "[Outdated Sample] Discovering and Using OPC UA Thermometers"
**Describe the bug**
The setup of the [OPC UA Servers](https://docs.akri.sh/demos/opc-thermometer-demo#creating-opc-ua-servers) in the sample [Discovering and Using OPC UA Thermometers](https://docs.akri.sh/demos/opc-thermometer-demo#creating-opc-ua-servers) is outdated i.e., referenced line numbers in source code and dotnet project names.

**Expected behavior**
Sample should be updated or OPC UA

[2022-04-04 00:01] #384 closed

[2022-04-04 17:01] kate-goldenring commented on #446
@OsamaEnergia, we updated to the latest kube-rs in https://github.com/project-akri/akri/pull/458. I'd be curious is your issue is resolved by pointing to the latest `akri-dev` chart

[2022-04-04 18:20] kate-goldenring commented on #464
@fawohlsc sorry for the delay here. Updating to use the OPC PLC server in the demo would vastly simplify it and make it less prone to getting outdated again. Were you able to successfully try out Akri with the  OPC PLC server?

[2022-04-05 11:15] fawohlsc commented on #464
@kate-goldenring no worries and thanks for following up.

**Short-answer:** _No_

**Long answer:**
The [OPC PLC server](https://github.com/azure-samples/iot-edge-opc-plc/) comes with its own simulated values, hence it would require to amend the sample code to target different OPC UA nodes and values. Screenshot taken from [ProSys OPC UA Browser](https://www.prosysopc.com/products/opc-ua-browser/):

[2022-04-05 15:21] romoh opened #467 "Fix clippy error: use of `ok_or` followed by a function call"
**Describe the bug**
Clippy error: use of `ok_or` followed by a function call
more details: https://github.com/project-akri/akri/runs/5780368279?check_suite_focus=true

**To Reproduce**
https://github.com/project-akri/akri/runs/5780368279?check_suite_focus=true

**Expected behavior**
No errors.

**Logs (please share snips of applicable logs)**
https://github.com/project-akri/akri/runs/5780368279?c

[2022-04-05 15:45] kate-goldenring commented on #438
Keeping this alive ... we should still investigate this via @bfjelds proposal https://github.com/project-akri/akri/issues/438#issuecomment-1005022047

[2022-04-05 16:13] kate-goldenring commented on #467
@Ragnyll are you able to take this one on?

[2022-04-05 16:15] fawohlsc commented on #464
@kate-goldenring - I would love to, but honestly cannot commit to it at the moment due to lack of free capacity.

[2022-04-05 16:43] romoh commented on #447
Closing. See Kate's earlier comment.

[2022-04-05 16:43] #447 closed

[2022-04-05 16:53] Ragnyll commented on #467
@kate-goldenring  got it. I'll work on this this week.

[2022-04-05 17:00] romoh opened #468 "Create a label for discovery handlers issues/PRs and exclude it from stale bot"
Create a new label to track issues and PRs related to adding a new discovery handler.
We can also update the stale action to use that to exclude it from the stale marking since those are ones that we will like to keep alive.

[2022-04-05 17:21] kate-goldenring commented on #445
@ElijahMendez were you able to test out removing and recreating the cameras?

[2022-04-05 18:34] kate-goldenring commented on #468
This is more of an enhancement/good to have rather than a bug IMHO.

[2022-04-05 19:50] kate-goldenring commented on #384
@vinaypuranik super late follow up on this but our bot gave me a nudge here. For the issue of pod restriction. You could embed your discovery handler in the Agent pod like we do in our [`agent-full` agent ](https://docs.akri.sh/user-guide/getting-started#installing-akri-flow). We just have [feature flags](https://github.com/project-akri/akri/blob/main/agent/Cargo.toml#L70) for this.
Any updates on

[2022-04-06 02:36] Ragnyll commented on #467
Oddly enough i can only replicate this after i update dependencies. This strikes as me as odd that the lint would propagate only at the test level in akri's crates since this seems to tie only to the dependency update.

I'm still going to fix this, but I'm running a cargo update with this as well which will invalidate #466 .

I think we probably should discuss the auto-update dependency bot and ho

[2022-04-06 03:13] Ragnyll opened #470 "Specify rustc version in Cargo.toml files"
As of rust 1.56 the [`rust-version`](https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field) field is stabilized and I believe this should be included in Akri's cargo.toml files.

When building locally this just helps specify the minimum version of rust expected, which should be the version specified by the [CI](https://github.com/project-akri/akri/blob/main/.github/workflo

[2022-04-06 03:15] Ragnyll commented on #470
I wanted to throw this out for discussion real quick because of what the docs say:

Otherwise I'd think this would be a very easy issue to knock out real quick.

[2022-04-06 13:53] Ragnyll commented on #467
Opened https://github.com/project-akri/akri/pull/471

[2022-04-06 20:48] kate-goldenring commented on #470
This is a great idea for creating a more consistent dev experience. Would you willing to add it in?

[2022-04-06 23:48] Ragnyll commented on #470
opened PR https://github.com/project-akri/akri/pull/472

[2022-04-07 16:23] #467 closed

[2022-04-10 03:53] #470 closed

[2022-04-18 07:38] hemantkathuria opened #473 "Exception in Monitoring Broker"
I am following the sample given [Here](https://docs.akri.sh/demos/opc-thermometer-demo)

I have found 2 issues.

1) Even if I choose to go without certificates, monitoring broker fails to load as it is expecting a path to be mounted "/etc/opcua-certs/client-pki".

2) After doing the certificate registration and mounting the same, the broker fails at below. Since only exception message is logged, i

[2022-04-18 15:17] kate-goldenring commented on #473
Hi @hemantkathuria, the sample broker tries to find certificates and throws and catches the error if none are found. When you didn't use certificates, did you see the following log: `Exception {0} thrown when trying to use application certificate mounted at {1}. Using no security.`? The logging of the error and then continuation is misleading and maybe should be changed.
I am looking into reproing

[2022-04-18 15:21] kate-goldenring commented on #473
@hemantkathuria when creating the opc ua servers, did you check out a specific tag of [the .NET opc ua library](https://github.com/OPCFoundation/UA-.NETStandard). We have another issue up https://github.com/project-akri/akri/issues/464 to update this sample because main has progressed beyond the writeup.

[2022-04-18 17:00] kate-goldenring commented on #464
@fawohlsc I updated the demo to point to the appropriate tag of the .NET library so that the demo can be followed again: https://github.com/project-akri/akri-docs/pull/31. I agree that changing to the PLC containers would make for a simpler demo -- maybe one we can add soon.

[2022-04-18 17:03] kate-goldenring commented on #473
@hemantkathuria I was able to walk through the demo successfully -- i did have the advantage of knowing the commit of the .NET servers at which the demo was originally created :) I put in a PR to update the demo to queue for pulling the appropriate tag of the .NET Server repos. Does using this version of the servers resolve your issue?

[2022-04-18 20:37] kate-goldenring commented on #464
Also, using this thread to track progress on using the OPC PLC server. Already, it is easy to discover the server with Akri with the following flow:
1. Run the server according to its [readme](https://github.com/Azure-Samples/iot-edge-opc-plc)
1. Install Akri where $HOST_SERVER_IP is the ip address of the machine running the containerized PLC OPC UA server
[code]
3. See the discovered instances: `

[2022-04-18 20:42] #464 closed

[2022-04-19 09:33] fawohlsc commented on #464
@kate-goldenring - Many thanks for swiftly fixing the demo. Regarding your note _"I ran into issues with credentials, so i believe generating certs for the PLC server and the broker would resolve it"_ - Agree using certificates would be the most secure and realistic scenario. Another simpler option, would be to start the OPC PLC server with additional [command line flags](https://github.com/azure-

[2022-05-02 15:45] kate-goldenring commented on #398
ran `cargo audit` locally and this vulnerability still exists. Looks like `kube-rs` still has not resolved it https://github.com/kube-rs/kube-rs/issues/650

[2022-05-02 15:54] kate-goldenring commented on #400
still active when run `cargo audit` locally but it looks like `kube-rs` took steps to mitigate using vulnerable features of chrono https://github.com/kube-rs/kube-rs/issues/650

[2022-05-03 16:54] Ragnyll commented on #400
This is the comment i was referencing. https://github.com/chronotope/chrono/pull/578#issuecomment-1075907329

I'll need to remind myself what this means in reference to kube-rs though

[2022-05-03 16:59] kate-goldenring commented on #468
Work to be done here:
1. Create new label for discovery handler work
2. Modify Akri stale bot
3. Add new issues template or extend feature issue template to recommend adding the label to the issue. But not everyone has permissions to add labels so unique issue template for discovery handlers could automatically add it (maybe?! this works for the default bug template)

[2022-05-03 17:07] kate-goldenring commented on #473
@hemantkathuria do you think this is resolved and ready to close or should be kept open as an issue on improving error logging in the broker?

[2022-05-03 17:20] kate-goldenring commented on #400
Thanks. Looks like once chrono removes dependency on time and kube-rs uses the latest chrono, this will go away

[2022-05-04 07:55] #473 closed

[2022-05-09 20:28] kate-goldenring opened #476 "Mount udev directory into udev Discovery Handler by default"
**Describe the bug**
Currently, the udev discovery handler does not properly evaluate certain udev rules. It can access simple udev information such as device names but cannot access devices properties. For example, the following installation will successfully discover USB cameras:

[code]

However, the following (with property `ENV{ID_V4L_CAPABILITIES}==":capture:` added) causes no cameras to be

[2022-05-09 20:28] kate-goldenring commented on #438
Following up on this. Oftentimes with usb cameras, there may be multiple dev nodes for the camers (ie `/dev/video0` and `/dev/video1`). All that should be discovered, however, is the camera with capture capabilities. Setting your discoveryDetails to `--set udev.configuration.discoveryDetails.udevRules[0]='KERNEL=="video[0-9]*"\, ENV{ID_V4L_CAPABILITIES}==":capture:"'` will ensure no duplicate node

[2022-05-09 20:29] kate-goldenring commented on #476
Also, Akri's docs should add a note about this for when using udev and Akri versions `v0.6.5` to `v0.8.4`

[2022-05-10 09:22] rupipal commented on #438
Thanks @kate-goldenring .  Will check this out soon. Any further feedback on the other issue :)   https://github.com/project-akri/akri-on-krustlet/issues/4

Rupinder

[2022-05-11 03:30] hemantkathuria opened #477 "Allow mounting of Kubernetes Secrets via Helm Chart"
**Is your feature request related to a problem? Please describe.**
Current Helm Chart does not allow a way to load Kubernetes Secrets as Environment Variables. It is a very common use case to load secrets as Environment variables

**Describe the solution you'd like**
Allow loading Secrets from envFrom etc.

**Describe alternatives you've considered**
As suggested used the Helm Template command, mo

[2022-05-11 04:00] kate-goldenring commented on #477
@hemantkathuria this is an important addition. As you mentioned, a Configuration with secrets added via `envFrom` could be generated as follows:
[code]

However, it would be better if Akri's helm chart supported setting `envFrom` just as it does support standard environment variables in a PodSpec. I.e.:
[code]

Support can be added by adding a `{{- if .Values.protocol.configuration.brokerPod.envFr

[2022-06-01 04:41] #477 closed

[2022-06-07 21:08] kate-goldenring opened #480 "Fix Kubernetes Cluster Setup for End-to-End tests"
**Describe the bug**
Our end-to-end tests on Kubernetes are failing by timing out after continual "waiting for kubernetes to become ready": https://github.com/project-akri/akri/actions/runs/2419306765

Should run sequence locally to determine what needs to be updated about how the K8s cluster is being setup

[2022-06-10 21:13] #480 closed

[2022-06-16 17:15] hemantkathuria opened #483 "Akri DEV Helm Chart 0.8.12 - akri-opcua-discovery-daemonset Failure"
**Describe the bug**
akri-opcua-discovery-daemonset - fails to discover the OPC UA server generates the following error.:

[2022-06-16T00:37:28Z INFO  akri_opcua::discovery_impl] do_standard_discovery - for DiscoveryUrls ["opc.tcp://10.0.2.4:50000/"]
thread 'tokio-runtime-worker' panicked at 'Cannot drop a runtime in a context where blocking is not allowed. This happens when a runtime is dropped f

[2022-06-16 19:39] kate-goldenring commented on #483
this is probably related to this PR that updated our `opcua` crate version: https://github.com/project-akri/akri/pull/479
While this is being investigated, I'd recommend adding  `--version 0.8.10` to installations to the akri-dev chart.

[2022-06-16 20:11] kate-goldenring commented on #483
We have encountered this issue https://github.com/locka99/opcua/issues/148. I tried updating to latest where they added a little more async functionality. I will look into seeing if we can gracefully handle the errors instead.

[2022-06-17 15:30] #483 closed

[2022-06-22 17:18] bfjelds opened #486 "ONVIF discovery not finding physical camera or mock camera on minikube"
**Describe the bug**
I have a ONVIF camera that is recognized successfully by: ONVIF Device Manager (https://sourceforge.net/projects/onvifdm/) and onvif-rs (https://github.com/lumeohq/onvif-rs). Akri is somehow not able to discover my camera.
I compared discovery probe message from both Akri and onvif-rs. It seems like Akri is looking for specific Types while onvif-rs doesn't have any restriction

[2022-06-22 18:19] animesh-mishra commented on #486
[code]

[2022-06-22 18:59] kate-goldenring commented on #486
@animesh-mishra can you share your installation command (i.e.) `helm install ...` so we can determine what version of Akri you are using?

[2022-06-22 19:14] animesh-mishra commented on #486
minikube version:

[code]
helm install:

[code]

[2022-06-22 19:19] animesh-mishra commented on #486
I really appreciate the kind of response I have received since I raised my problem yesterday. I wasn't expecting such an amazing support.

[2022-06-24 06:33] animesh-mishra commented on #476
@kate-goldenring I still have this issue. Below is my akri setup:

[code]
This is the log file:

[code]
My current work around is to use

`--set udev.configuration.discoveryDetails.udevRules[0]='KERNEL=="video0"'`

This is happening on both minikube env and multi node cluster env.

[2022-06-24 15:54] kate-goldenring commented on #476
Have you verified that your camera supports the `capture` property? I've heard some cameras have `output` instead. You can inspect your camera with `udevadm info --attribute-walk --path=$(udevadm info /dev/video0)`

[2022-06-26 02:09] animesh-mishra commented on #476
@kate-goldenring - I couldn't run the command you gave me but I ran following command. This one has `ID_V4L_CAPABILITIES=:capture:` . `capture` property is missing for `/dev/video1`

[code]
I also ran following command. I am attaching snippet below. This one doesn't have `ID_V4L_CAPABILITIES=:capture:`

[code]

[2022-06-27 16:45] bfjelds commented on #486
ah!  so glad that you were able to get things working!!

[2022-06-27 17:16] kate-goldenring commented on #486
@animesh-mishra, great to hear you have it working, and it definitely shows that there are some minikube set up steps that would be good to have for Akri. If you are interested, maybe you could share your steps here or even add them to our documentation served by our CMS [here](https://docs.akri.sh/user-guide/cluster-setup) and sourced from our docs [repo](https://github.com/project-akri/akri-docs

[2022-06-27 19:09] animesh-mishra commented on #476
@kate-goldenring - I forgot to update this issue yesterday. After changing my minikube configuration `minikube start --driver=none`, this started working too.

I already had `--set udev.discovery.host.udev=/run/udev ` in my helm value override based on your suggestion in the post above.

[2022-06-28 20:10] animesh-mishra commented on #486
@kate-goldenring, sure. I made changes to doc and submitted for review.

[2022-06-28 20:24] kate-goldenring commented on #486
@animesh-mishra, I dont see a PR. Can you point me to it?

[2022-06-30 22:02] #476 closed

[2022-07-05 17:04] kate-goldenring opened #489 "Move broker and app samples folder to a separate repository"
Currently Akri's repo contains example brokers and apps that are used for Akri [demos](https://docs.akri.sh/demos/usb-camera-demo) but are not for production scenarios. They should be moved out of Akri's core repo into a `project-akri/examples` repo so that akri core can be maintained at a different rate than the examples. For example, [security vulnerabilities](https://github.com/project-akri/akr

[2022-07-05 20:40] kate-goldenring opened #490 "Enable udev discovery handler to discover multiple node devices"
## Background
Akri's `udev` discovery handler assumes that each `udev` device consists of one devnode, so it reports each devnode captured by the provided udev rules as a separte device to Akri.

However, many devices span multiple devnodes. For example, some USB cameras consist of several nodes, such as `/dev/video0` and `/dev/video1` where one contains metadata and the other does actual footage

[2022-07-07 00:12] kate-goldenring commented on #237
This should also investigate which features of each crate are need and explicitly set feature flags rather than default using all libraries of a crate. For example, `tokio = { version = "1.0", features = ["rt-multi-thread", "time", "fs", "macros", "net"] }` rather than `tokio = { version = "1.0", features = ["full"] }`.

[2022-07-07 19:00] kate-goldenring opened #491 "Reduce the size of Akri's Containers"
Akri's containers are heavily bloated and can be slimmed down in size. An investigation should be done into Akri's Docker files and build system to make this reduction.
For example, **the Akri agent (`v0.8.16`) can be slimmed down from 159MB to 32MB using [docker-slim](https://github.com/docker-slim/docker-slim#installation). This shows that there should be a way to optimize our builds**:
[code]
#

[2022-07-07 19:07] adithyaj commented on #491
@kate-goldenring I'd be happy to start taking a look at this!

[2022-07-07 22:28] kate-goldenring commented on #486
Closing due to this being resolved via minikube configuration.

[2022-07-07 22:28] #486 closed

[2022-07-07 23:07] kate-goldenring opened #492 "Enable mounting connectivity information for multiple devices/instances in a Pod"
## Background on how Akri adds connectivity information to brokers
The Akri Agent creates a [device plugin](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/) for each device it discovers, creating a node level resource for that device. Then, a Pod can request that IoT device just as it would a compute resource (CPU and memory) in the `resourceRequests` sect

[2022-07-07 23:12] michaelzhang114 commented on #492
I'm interested in taking a crack at this!

[2022-07-07 23:14] kate-goldenring commented on #492
Awesome! Just assigned you to it. @bfjelds and @romoh what are your thoughts around naming the mounted environment variables as `ENV_VAR_GENERIC_NAME_DEVICE_SPECIFIC_HASH`?

[2022-07-08 00:30] bfjelds commented on #492
i'm not sure i have strong feelings.  if there are no limits on envvar lengths, we might just add a normalized instance_name?  might be easier to debug if there are issues (which env var traces to which instance, etc).

[2022-07-08 17:19] hemantkathuria opened #493 "Add support for adding container port in OpcUa broker pod"
We plan to host an Asp.Net core API inside the OPCUA broker. It will be exposed on 5000 port.

Current Helm chart does not allow adding the below under PodSpec.

        brokerPod:
          ports:
          - containerPort: 5000
          -
Please help in getting this added as this is a blocker for us.

[2022-07-18 08:28] hemantkathuria commented on #493
Can we expect this change sometime soon? :) We are in urgent need of this. Please help :)

[2022-07-20 09:33] leolumicrosoft opened #494 "usb camera end to end demo issue"
Hi, I found this issue when I follow https://docs.akri.sh/demos/usb-camera-demo. I setup with an Azure virtual machine with Linux (ubuntu 20.0). The two virtual USB cameras created have ID_V4L_CAPABILITIES different from :capture:, which makes Akri unable to discover the virtual cameras and create broker pod. I simply change udev.configuration.discoveryDetails.udevRules[0]='KERNEL=="video[0-9]*"'

[2022-07-21 04:41] leolumicrosoft commented on #493
I actually do not understand this request. There is already instance level service for each broker pod, and also a configuration level service for all broker pods created by a single configuration. You can define targetports for both instance level and configuration level service. That is enough for accessing your broker's API.

From Kubernetes document, containerport is just informational, please

[2022-07-21 07:07] leolumicrosoft opened #495 "Allow a customizable service to enrich environment variable after device discovery/before creating broker POD"
Currently AKRI can not support cases like,
- camera with ONVIF credential
- OPC UA server(PLC machines for example) that requires client to prove ownership of X509 cert from specified CA
- Broker POD may also need other device specified metadata tag information

Basically there is no standard and straight forward method to integrate AKRI with solution developer's own device inventory database.
Thi

[2022-07-26 01:58] kate-goldenring commented on #494
Good find! We added the capture property to help with real camera discovery. We should modify the demo to add a note to add the capture property only if using real cameras. Would you be interested in putting in an update to the docs?

[2022-07-27 02:48] leolumicrosoft commented on #494
Yes, I love to help. But the e2e demo document is in https://docs.akri.sh/ but not it this git repository. How shall I submit PR?

[2022-07-27 15:47] kate-goldenring commented on #494
Great! You can put the PR into our [documentation repository](https://github.com/project-akri/akri-docs). Our site automatically will serve the changes. I looks like both the standard [demo](https://github.com/project-akri/akri-docs/blob/main/docs/demos/usb-camera-demo.md) and raspberry Pi [demo](https://github.com/project-akri/akri-docs/blob/8d5f62e3025f104b7fe40023decb2d4c5d0d213b/docs/demos/usb

[2022-08-02 05:28] bfjelds commented on #495
this sounds pretty cool.  would you mind creating a proposal here: https://github.com/project-akri/akri-docs/tree/main/proposals?

[2022-08-02 10:04] leolumicrosoft commented on #495
Yes, I will do that.

From: bfjelds ***@***.***>
Sent: Tuesday, August 2, 2022 1:29 PM
To: project-akri/akri ***@***.***>
Cc: Leo Lu ***@***.***>; Author ***@***.***>
Subject: Re: [project-akri/akri] Allow a customizable service to enrich environment variable after device discovery/before creating broker POD (Issue #495)

this sounds pretty cool. would you mind creating a proposal here: https://gi

[2022-08-06 14:59] Sonali-Rajput commented on #493
Where should I start with this issue?

[2022-08-09 05:23] hemantkathuria commented on #493
Yes, you are right. When I opened the issue, I was unaware that it is informational, and it will work without adding the container port. So, we were actually able to move further as it worked without adding the container port. So, I would say, priority can be reduced further unless we want to allow the users to add information of ports also and this is how generally use and not sure how many are a

[2022-08-16 00:11] github-actions[bot] opened #496 "RUSTSEC-2022-0048: xml-rs is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `xml-rs`                      |
| Version             | `0.8.4`                   |
| URL                 | [https://github.com/netvl/xml-rs/issues](https://github.com/netvl/xm

[2022-08-16 09:53] bitmeal opened #497 "Unix domain socket (uds) gRPC-client implementation incompatible with Googles' C based gRPC (reference) implementation"
**Describe the bug**
The unix domain socket implementation of the gRPC-client is incompatible with servers implemented using Googles' C based gRPC implementation. As this implementation is the base for most non-native implementations, it may be considered a **reference implementation** and this behavior is likely to be observable in a number of languages.

Discovery handlers implement the gRPC Dis

[2022-08-17 14:53] kate-goldenring commented on #494
Thanks for putting in the fix @leolumicrosoft https://github.com/project-akri/akri-docs/pull/43! Marking as closed

[2022-08-17 15:30] kate-goldenring opened #500 "Create workflow to update version on behalf of contributor"
**Is your feature request related to a problem? Please describe.**
Recently switched to the mac world and there are some [issues with sed compatibility](https://stackoverflow.com/questions/4247068/sed-command-with-i-option-failing-on-mac-but-works-on-linux) with Akri's [`version.sh`](https://github.com/project-akri/akri/blob/main/version.sh) script.

Rather than modifying the script for various OS

[2022-08-17 15:32] kate-goldenring commented on #497
@bitmeal thank you for looking into this and putting in the fix.

[2022-08-18 16:23] kate-goldenring opened #501 "Ensure `cargo tarpaulin` is using same Rust version as Akri"
**Describe the bug**
Akri's code coverage checks with `cargo tarpaulin` are [currently failing](https://github.com/project-akri/akri/runs/7882109843?check_suite_focus=true#step:7:887) because `cargo tarpaulin` is using the `1.63` rust toolchain while Akri is using `1.61`.

`cargo tarpaulin` [should be inferring Rust version](https://github.com/xd009642/tarpaulin#environment-variables) from the Car

[2022-08-20 00:09] github-actions[bot] opened #502 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-08-23 18:40] adithyaj commented on #501
I'll take this one, I'll try to see if we can set the env var itself and worst case we can update rust and move forward for now.

[2022-08-23 19:09] adithyaj commented on #502
Looked into this briefly, yansi could be a simple and minimal solution; assigning to self

[2022-08-23 23:36] adithyaj commented on #491
I'm looking to see if there are any preferable alternatives to docker-slim as it does an analysis of what we do with the agent and tries to minify the image. The docker image it produced on my end uses a tarball and unpacks the specific directories before running which raises two potential issues:

1. It might not be reliable
    - If there is a scenario that docker-slim did not monitor us go thro

[2022-08-28 19:55] vladimirvivien commented on #42
Small correction: it should be `linux-modules-extra-$(uname -r)` in the solutions above, as in:

[code]

[2022-08-29 00:02] #448 closed

[2022-08-30 21:41] bfjelds commented on #501
i wonder if you couldn't do something like this:

[code]

[2022-08-30 22:13] bfjelds commented on #501
seems to work.  i created this PR: https://github.com/project-akri/akri/pull/503 ... when i cherry-picked the changes onto https://github.com/project-akri/akri/pull/498, the tarpaulin run succeeded: https://github.com/project-akri/akri/runs/8102394108?check_suite_focus=true

[2022-09-01 16:00] #501 closed

[2022-09-02 20:38] adithyaj commented on #501
Thanks Brian!

[2022-09-02 21:05] #497 closed

[2022-09-02 21:10] #496 closed

[2022-09-07 01:55] Rishit-dagli commented on #455
@kate-goldenring I would love to take this up

[2022-09-07 14:35] kate-goldenring commented on #455
Awesome @Rishit-dagli! Just assigned it to you. With this may come some thoughts into removing support for testing older versions of K8s, so if you run into configuration roadblocks around K8s v1.16-1.18, it might be worth removing them from the matrix

[2022-09-08 16:29] Rishit-dagli commented on #489
I would love to work on this, though this is a pretty big change so probably with some more help

[2022-09-08 16:40] Rishit-dagli commented on #298
I would love to take this up

[2022-09-08 16:41] Rishit-dagli commented on #500
I would love to take this up

[2022-09-08 16:52] kate-goldenring commented on #492
@michaelzhang114 any updates or questions on this? Would be great to prioritize this for the next release.

[2022-09-08 18:36] adithyaj opened #509 "GitHub tests run on EOL versions of K8s"
**Is your feature request related to a problem? Please describe.**
Akri tests are failing to run on K8s 1.16, which is an end-of-life (EOL) version of kubernetes. It seems that all of the akri tests are running older versions of k8s so we should update these to run on newer versions.

[2022-09-08 21:06] kate-goldenring commented on #489
Thanks @Rishit-dagli! It is a lot to port so let me know how I can help. I created https://github.com/project-akri/examples as a destination for the examples. The main objective is to move over the code, makefiles, dockerfiles, and GitHub workflows that are associated with the sample apps and brokers in the [/samples directory](https://github.com/project-akri/akri/tree/main/samples)
- There are ma

[2022-09-08 21:09] #455 closed

[2022-09-09 21:16] #500 closed

[2022-09-15 14:11] advancedwebdeveloper opened #512 "The requested image's platform (linux/amd64) does not match the detected host platform (linux/riscv64) and no specific platform was requested"
Tried to build your project, on a 64bit RISC-V board:

[2022-09-18 00:02] #342 closed

[2022-09-20 18:14] rido-min opened #514 "opcua-monitoring-broker fails with BadRequestTimeout"
Following the [OPC UA demo](https://docs.akri.sh/demos/opc-thermometer-demo#creating-opc-ua-servers)

## Environment
 Ubuntu 22.04 running on physical hardware
 k3s version v1.24.4+k3s1 (c3f830e9)
 OPC Reference Server, migrated to `net6.0`, running on the host machine without certificates

## AKRI setup

Deployed AKRI with:

[code]

## Failure

The akri-opcua-monitoring pod is created, but fails

[2022-09-20 20:06] #502 closed

[2022-09-21 17:49] kate-goldenring commented on #514
@rido-min super nitty but what happens if you change the url from `opc.tcp://192.168.86.213:62541/Quickstarts/ReferenceServer` to `opc.tcp://192.168.86.213:62541/Quickstarts/ReferenceServer/` with the trailing forward slash?

[2022-09-21 17:50] kate-goldenring commented on #514
I believe there is no active work being done on this but it is very desired. If you are interested in contributing, it would be a great add.

[2022-09-26 14:18] agracey opened #521 "Allow for udev rules without devnode"
**Is your feature request related to a problem? Please describe.**

I'm trying to get Akri to detect if a display is connected or not then schedule an X11 container to it. I found the correct rule but Akri doesn't seem to like it.

**Is your feature request related to a way you would like Akri extended? Please describe.**

Currently, when I use the rule `SUBSYSTEM=="drm", ATTR{status}=="connected"

[2022-09-26 18:11] agracey commented on #521
I'm looking at the traceback from https://github.com/project-akri/akri/blob/4cad8e767a7d67e0338cdf5da8d8cee4edb16d92/discovery-handlers/udev/src/discovery_impl.rs#L157

I think there might be 2 options:
- I build a custom discovery handler based on the udev handler that uses something other than devnode
- If `get_devnode(&device)` returns `None`, you could optionally return a predictable name base

[2022-09-28 00:03] kate-goldenring commented on #521
Hi @agracey. I think option 1 is a good route and one that we have discussed before in Slack (https://kubernetes.slack.com/archives/C01D9L7QE8Z/p1662486545856829?thread_ts=1662022333.544559&cid=C01D9L7QE8Z). It seems that using syspath rather than devnode would be more ideal which would keep device ids more deterministic too.

[2022-09-30 05:55] adithyaj opened #524 "Update build agents to latest container dependency versions"
**Is your feature request related to a problem? Please describe.**
GitHub Actions is getting rid of their older ubuntu build agent containers this December. Our build agent containers use Ubuntu 18.04 and we may have certain references that may need to be changed. For example:
<pre><code>echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-

[2022-09-30 08:40] gorodion commented on #512
Same problem. I think it's because WSL2 is installed

[2022-09-30 09:57] aluedeke opened #525 "Controller crashing when akri config is bad"
What I have experienced:

I deployed a bad akri configuration which made my akri controller crash. I don't believe this should happen:

Akri config (obviously broken):
[code]

this led to the following logs:
[code]
I believe the following unwrap is the culprit here:
https://github.com/project-akri/akri/blob/befa9435f15b84391d104668c450d8ec0a545493/controller/src/main.rs#L48

[2022-10-01 22:16] agracey commented on #521
I went with option 1: https://github.com/agracey/display-discovery and it works!

An example of it's use is here: https://gist.github.com/agracey/96cfa8c150687ec43b0ca18d42c05332

Should I close this? Or rename to reflect the previously discussed syspath change that you linked (for some reason slack isn't deep-linking for me so I can't actually see  the conversation ☹️)?

[2022-10-02 00:04] #446 closed

[2022-10-02 23:03] kate-goldenring commented on #512
@advancedwebdeveloper  have you been able to build the other container? The opencvsharp container is just for one of our demo brokers, so I'd recommend using one of the released images instead, unless there is some reason you want to build your own. I would narrow down your build to only building the containers you want to build: https://docs.akri.sh/development/development#build-akri-component-co

[2022-10-02 23:09] kate-goldenring commented on #525
@aluedeke how did you create your configuration? Was it with the Helm charts? The CPU and memory placeholders should look like the following: ` "{{PLACEHOLDER}}" : "1"` This is used by the controller to insert requests for the discovered devices ([see this note on custom configs](https://docs.akri.sh/user-guide/customizing-an-akri-installation#generating-modifying-and-applying-a-configuration)).

[2022-10-02 23:14] kate-goldenring commented on #521
@agracey looks like you are [using devpath if devnode does not exist](https://github.com/agracey/display-discovery/blob/e395e2e242d14f6829a69210a7e82b4f26682622/src/discovery_handler.rs#L149). Should we just always use devpath/syspath? Then rather than a custom DH we could just update the current udev one? Great that you were able to create a DH to get things going in the meantime.

[2022-10-03 00:04] #445 closed

[2022-10-03 18:05] aluedeke commented on #525
@kate-goldenring I messed up the config manually and fixed it already, so absolutetly my bad. Nevertheless, I am concerned that a single broken config can mess up my whole akri deployment. I would expect Akri to just log an error in case it receives a broken config. I wouldn't expect a crash.

Yes absolutely.

[2022-10-04 03:24] lunchboxav commented on #524
Hi, I'm interested in working on this. Can you provide some pointers on where should I get started?

[2022-10-04 15:17] kate-goldenring commented on #524
@adithyaj, i am not sure i follow the issue. It looks like we are pointing to `ubuntu-latest` in our builds, and `kubernetes-xenial` seems to be the default for [Kubernetes installs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl) (id assume on latest ubuntu).

[2022-10-05 23:08] kate-goldenring opened #526 "Update OPC UA demo to use containerized PLC server"
The [OPC UA end-to-end demo](https://docs.akri.sh/demos/opc-thermometer-demo) should be updated to use the [OPC PLC server](https://github.com/azure-samples/iot-edge-opc-plc/) rather than requiring users to build and run demo servers as currently done.

#464 has instructions for how to use the PLC server in conjunction with Akri.

Would be great to update the [demo doc](https://github.com/project-

[2022-10-11 06:55] leolumicrosoft commented on #494
Sure, I am glad to take this task.
But the end to end document is in https://docs.akri.sh/demos/usb-camera-demo,

It is not in this Akri github repository, is it? How shall I raise PR for the document?

From: Kate Goldenring ***@***.***>
Sent: Tuesday, July 26, 2022 9:59 AM
To: project-akri/akri ***@***.***>
Cc: Leo Lu ***@***.***>; Author ***@***.***>
Subject: Re: [project-akri/akri] usb camera e

[2022-10-12 22:16] #509 closed

[2022-10-13 15:50] kate-goldenring commented on #494
@leolumicrosoft you can put it into the documentation repo

[2022-10-13 15:57] kate-goldenring commented on #525
@aluedeke makes sense. we originally chose to error out to ensure the user knows it is in a broken state and we created a Webhook to help with detecting and preventing the application of bad Configurations: https://github.com/project-akri/akri/tree/main/webhooks/validating/configuration

But we also dont publicize the webhook quite enough. Do you think that the webhook solves the issue or would it

[2022-10-14 02:36] leolumicrosoft commented on #494
It has been put into doc repository and the PR has been merged. I do not know why but it seems some of my old emails to github were sent again recently. Please ignore the repeated email reply and close this issue.

[2022-10-14 03:47] #494 closed

[2022-10-26 18:54] adithyaj opened #531 "K3s v1.23 E2E Test Timeout"
**Describe the bug**
The K3s v1.23 E2E Test ends in failures occasionally when we run it but will succeed on a retry.
Opening an issue here to see if we can get a consistent repro and fix for this.

**Kubernetes Version: K3s v.1.23**

[2022-11-01 17:01] kate-goldenring commented on #525
@bfjelds do you think logging malformed configs rather than erroring out would be a good switch?

[2022-11-01 17:06] kate-goldenring commented on #512
@gorodion and @advancedwebdeveloper do we want to keep this alive to track WSL2 and or RISC-V support for making Akri containers? Or do this developer docs help with creating the containers you need for the platforms you are using: https://docs.akri.sh/development/development#build-akri-component-containers

[2022-11-02 06:30] adithyaj commented on #531
updating here: could very likely just be the timeout here, might try to up the timeout and see if we cannot hit that issue in a general case.

[2022-11-03 21:44] #531 closed

[2022-11-05 16:33] jbpaux commented on #524
This one seems to use 18.04:
https://github.com/project-akri/akri/blob/ed6446a659925334d4da851577a5e620f447aa32/.github/workflows/run-test-cases.yml#L48
This one too:
https://github.com/project-akri/akri/blob/ed6446a659925334d4da851577a5e620f447aa32/.github/workflows/run-test-cases.yml#L99
This one is using 20.04 (not latest):
https://github.com/project-akri/akri/blob/ed6446a659925334d4da851577a5e

[2022-11-08 16:50] kate-goldenring commented on #524
@lunchboxav are you still interested in taking this on? Changing the above workflows to latest would be a great add.

[2022-11-08 23:49] adithyaj opened #537 "Update node build flow dependency from node12 to node16"
**Describe the bug**
In a similar note to #524, GitHub Actions are deprecating node12 tasks to use node16 in Summer 2023. Right now each of our pipeline runs produces a warning to make sure we update before this time.

**Additional context**
We use node12 when building the discovery-handler components and we need to move this node16 and test to make sure there's no breaking change.

https://github

[2022-11-08 23:52] adithyaj commented on #524
@lunchboxav That's correct, those workflows should use 20.04 and that would require the change just as you mentioned. We could try to use the `ubuntu-latest` for all the workflows instead of pinning it to a particular ubuntu version which would be a nice change but we should be wary of any diffs between the two.

Also FYI - I mentioned this issue in #537 since it's a similar issue (node dependency

[2022-11-17 01:55] harrison-tin commented on #379
I'm interested in working on this!

[2022-11-18 18:27] kate-goldenring commented on #491
We could rerun the dockerslim scenario and try to inspect the layers of the resultant image

[2022-11-21 19:16] harrison-tin commented on #376
I'm interested in working on this!

[2022-11-22 18:41] #376 closed

[2022-11-28 18:49] adithyaj commented on #514
@harrison-tin has a PR out here that should fix this, once that gets merged could we try running this again?

[2022-11-28 21:57] #526 closed

[2022-11-29 18:44] agracey opened #542 "Allow for more generic CRDs to be deployed when device is discovered"
**Is your feature request related to a problem? Please describe.**
Some of my workloads are better served by VMs or WebAssembly than pods but I would still like to control their lifecycle and placement with Akri as the discovery mechanism.

**Is your feature request related to a way you would like Akri extended? Please describe.**
I would like to be able to control additional CRDs in addition to a

[2022-11-29 18:51] agracey commented on #250
I had a thought about this where it might be interesting to use a pattern similar to cert-manager. This would allow a discovery handler to create a "creds request" then have the "auth-manager" component be able to reach out to a 3rd party auth location to request creds.

These creds could be encrypted and stored in something like Vault instead of a secret.

We are running into this general issue m

[2022-11-29 20:23] kate-goldenring commented on #542
From the start of Akri, we envisioned creation of other CRDs (beyond Akri Instances) upon discovery to suit more use cases. Sounds like the moment is here. The main goal of the Akri Controller is to watch for Akri Instance creation/deletion and create resources (Pods or Jobs). CRDs could be added to the list of resources the controller could create.

I think this could introduce an evolution of te

[2022-11-29 20:26] kate-goldenring commented on #250
@adithyaj has been also putting thought into this space. The model you describe @agracey sounds ideal where we could have various secret manager backends that the auth manager could reach out to. I also was curious as to whether we could use Dapr for this but haven't been able to set aside time to try it out.

[2022-11-29 20:52] agracey commented on #542
I don't know. But I would argue that at the end of the day it doesn't really matter since a Pod is really just a CR with a built-in controller and the Pod/Job specific fields would be shorthand with better validation. I don't know enough about the internals of Akri to know if there is a different treatment.

I'm traveling next week but can add January's call to my schedule if I can't join from the